<% include ../../partials/head %>
<div class="row">
  <% include sidebar %>
  <div class="col-9">
    <h1>Change Your Base Lab URL</h1>

    <form method="post" action="/admin/account/change-domain">
      <div class="form-group">
        <label for="domain">Base URL</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><%= urlBase %></div>
          </div>
          <input type="text" class="form-control" id="domain" name="domain" placeholder="Base URL" value="<%= currentUser.domain %>"/>
        </div>
      </div>
      <div class="form-group text-right">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
<% include ../../partials/foot %>