timestamp:Wed_Jun_15_17:16:51_PDT_2016
inFPS:15
inX:640
inY:480
outHttpPort:8080
outHttpWeb:../bpu/ImageStreamer/www
outFilePath:/home/pi/bpuData/tempExpData
outFileMs:100
isRaspPiCam:1
localDataLocation:/home/pi/bpuData/tempExpData
hostname:eug-2
user:pi

