timestamp:Wed_May_25_18:00:05_PDT_2016
inFPS:15
inX:640
inY:480
outHttpPort:8080
outHttpWeb:../bpu/ImageStreamer/www
outFilePath:/home/pi/bpuData/tempExpData
outFileMs:100
isRaspPiCam:1
localDataLocation:/home/pi/bpuData/tempExpData
hostname:eug-0
user:pi

