<% include ../../partials/head %>
<h1><%= title %></h1>
<div class="container paginated-list">
  <div class="row">
    <div class="col">
      <div class="list-group">
      <% labs.forEach((lab) => { %>
        <a class="list-group-item list-group-item-action" href="/admin/lab/<%= lab.id %>">
          <%= lab.title %>
        </a>
      <% }) %>
      </div>
    </div>
  </div>
<%- include('../../partials/pagination', pagination) %>
</div>
<% include ../../partials/foot %>