<div class="col-4">
  <a href="/admin/labs" class="card">
    <h4 class="card-header">Manage Labs</h4>
  </a>
</div>
<div class="col-4">
  <a href="/admin/studentgroups" class="card">
    <h4 class="card-header">Manage Projects</h4>
  </a>
</div>