<% include ../partials/head %>
<div class="row justify-content-center">
  <div class="col-6">
    <h2>Account Verified!</h2>
    <a href="/admin/login" class="btn btn-primary">Log In</a>
  </div>
</div>
<% include ../partials/foot %>